<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ecomServlet</servlet-name>
  	<display-name>ecomServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.ecomServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductListServlet</servlet-name>
  	<display-name>ProductListServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartSrevlet</servlet-name>
  	<display-name>CartSrevlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.CartSrevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartListServlet</servlet-name>
  	<display-name>CartListServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.CartListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderListServlet</servlet-name>
  	<display-name>OrderListServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuantityServlet</servlet-name>
  	<display-name>QuantityServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.QuantityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveServlet</servlet-name>
  	<display-name>RemoveServlet</display-name>
  	<description></description>
  	<servlet-class>com.ssd.servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ecomServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductListServlet</servlet-name>
  	<url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartSrevlet</servlet-name>
  	<url-pattern>/CartSrevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartListServlet</servlet-name>
  	<url-pattern>/Cartlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/orderNow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderListServlet</servlet-name>
  	<url-pattern>/orderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuantityServlet</servlet-name>
  	<url-pattern>/quantity-dec-inc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveServlet</servlet-name>
  	<url-pattern>/remove</url-pattern>
  </servlet-mapping>
</web-app>
